<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xử lý văn bản - Sở Nội vụ - TPHCM</title>
    <link href="/images/logo_quochuy.png" rel="Shortcut Icon">
    <link href="/style/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header>
    <div class="logo">
        <img th:src="@{/images/logo.png}" />
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Nhập từ khóa tìm kiếm">
        <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="user-info" onclick="toggleDropdown()">
        <img th:src="@{/images/avatar.png}" alt="Avatar">
        <div>
            <span class="role">Văn Thư</span>
            <br>
            <span class="name">Văn thư</span>
        </div>
        <div class="dropdown-menu">
            <form th:action="@{/auth/v1/logout}" method="post" id="logoutForm">
                <a onclick="document.getElementById('logoutForm').submit()">Thoát</a>
            </form>
        </div>
    </div>
</header>
<nav>
    <ul>
        <li>
            <a href="#" th:href="@{/home}">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li class="active">
            <a href="#" th:href="@{/dashboard}">Xử lý văn bản</a>
        </li>
        <li>
            <a href="#" th:href="@{/vanbanden}">Văn bản đến</a>
        </li>
        <li>
            <a href="#" th:href="@{/vanbandi}">Văn bản đi</a>
        </li>
        <li>
            <a href="#" th:href="@{/vanbannoibo}">Văn bản nội bộ</a>
        </li>
        <li>
            <a href="#" th:href="@{/vanbanlienhong}">Văn bản liên thông</a>
        </li>
        <li>
            <a href="#" th:href="@{/tracuu}">Tra cứu</a>
        </li>
    </ul>
</nav>
<div class="sub-menu">
    <ul class="child-menu">
        <li>
            <a th:href="@{/xulyvanban}">▸Tiếp nhận văn bản đến (Alt+1)</a>
        </li>
        <li>
            <a th:href="@{/hopthuvandan}">▸Hộp thư văn bản đến (Alt+2)</a>
        </li>
        <li>
            <a th:href="@{/duthao}">▸Dự thảo văn bản (Alt+3)</a>
        </li>
        <li>
            <a th:href="@{/phathanh}">▸Phát hành văn bản (Alt+4)</a>
        </li>
        <li>
            <a th:href="@{/cho_phathanh}">▸Văn bản chờ phát hành (Alt+5)</a>
        </li>
        <li>
            <a th:href="@{/soanvannoibo}">▸Soạn văn bản nội bộ (Alt+6)</a>
        </li>
    </ul>
</div>
<div class="content">
    <div class="content-left">
        <h2 style="margin: 0; padding: 8px">Công việc của tôi</h2>
        <select id="tinhtrang" style="font-size: 16px; font-weight: bold; padding: 8px; width: 100%;">
            <option value="1">Văn bản chưa xử lý</option>
            <option value="2">Văn bản đã xử lý</option>
        </select>
        <ul style="padding-top: 12px;">
            <li th:each="vanban : ${vanbans}"
                class="van-ban-item"
                th:attr="data-so-van-ban=${vanban.id}, data-so-den=${vanban.soDen}, data-so-ky-hieu=${vanban.soKiHieuVanBan}, data-co-quan-ban-hanh=${vanban.coQuanBanHanh}, data-loai-van-ban=${vanban.loaiVanBan}, data-ngay-den=${vanban.ngayDen}, data-ngay-ban-hanh=${vanban.ngayBanHanh}, data-trich-yeu=${vanban.trichYeu}"
            >
                <div class="van-ban">
                    <p class="thoi-gian-tao" th:text="${vanban.ngayDen}"></p>
                    <p class="so-van-ban" th:utext="'<strong>Số văn bản:</strong> ' + ${vanban.id}"></p>
                    <p class="so-den" th:utext="'<strong>Số đến:</strong> ' + ${vanban.soDen}"></p>
                    <p class="ky-hieu" th:utext="'<strong>Số, ký hiệu của VB:</strong> ' + ${vanban.soKiHieuVanBan}"></p>
                    <p class="loai-van-ban" th:utext="'<strong>Loại văn bản:</strong> ' + ${vanban.loaiVanBan}"></p>
                    <p class="ngay-ban-hanh" th:utext="'<strong>Ngày ban hành:</strong> ' + ${vanban.ngayBanHanh}"></p>
                    <p class="co-quan-ban-hanh" th:utext="'<strong>Cơ quan ban hành:</strong> ' + ${vanban.coQuanBanHanh}"></p>
                    <p class="trich-yeu" th:utext="'<strong>Trích yếu:</strong> ' + ${vanban.trichYeu}"></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-right" id="main-content">
        <!-- Right content here -->
    </div>
</div>
<footer class="footer">
    <div class="left">
        <h3>Sở Nội vụ Thành phố Hồ Chí Minh</h3>
        <p>Địa chỉ: 86B Lê Thánh Tôn, Phường Bến Nghé, Quận 1, TP.HCM</p>
        <p>Điện thoại: (028) 38 295 110 - Fax: (028) 38 231 489 - Email: snv@sonoivu.hochiminhcity.gov.vn</p>
        <p>NSS eGov v5.3. Thiết kế và phát triển bởi NewSaigonSoft</p>
    </div>
</footer>
<div id="modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <p class="modal-title">Trình Chánh VP</p>
            <span class="close"><i class="fa-solid fa-xmark"></i></span>
        </div>
        <div class="sub-option">
            <ul class="child-option">
                <li>
                    <a id="sendButton"><i class="fa-solid fa-file-export"></i> Chuyển</a>
                </li>
            </ul>
        </div>
        <form id="nextDocumentForm">
            <div class="form-group">
                <div class="left">
                    <label style="padding: 8px;">Nội dung xử lý</label>
                    <textarea placeholder="Nhập thông tin xử lý"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="left">
                    <label style="padding: 8px;">Người nhận <span class="required">(*)</span></label>
                    <table class="document-table">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="selectAllCheckbox">
                            </th>
                            <th>
                                <p>Họ và tên</p>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" class="rowCheckbox" data-value="Chánh văn phòng">
                            </td>
                            <td>
                                <p>Chánh văn phòng <span>(Chánh văn phòng)</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" class="rowCheckbox" data-value="Chuyên viên">
                            </td>
                            <td>
                                <p>Lê Mộng Trang <span>(Chuyên viên)</span></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="left">
                    <label style="padding: 8px;">Người xử lý chính <span class="required">(*)</span></label>
                    <select id="selectOptions" required>
                        <option value="">Chọn một tùy chọn</option>
                        <!-- Thymeleaf options can be populated here -->
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/js/script.js}"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const vanBanItems = document.querySelectorAll('.van-ban-item');
        vanBanItems.forEach(item => {
            item.addEventListener('click', function() {
                const soVanBan = this.getAttribute('data-so-van-ban');
                const soDen = this.getAttribute('data-so-den');
                const soKyHieu = this.getAttribute('data-so-ky-hieu');
                const coQuanBanHanh = this.getAttribute('data-co-quan-ban-hanh');
                const loaiVanBan = this.getAttribute('data-loai-van-ban');
                const ngayDen = this.getAttribute('data-ngay-den');
                const ngayBanHanh = this.getAttribute('data-ngay-ban-hanh');
                const trichYeu = this.getAttribute('data-trich-yeu');
                showDetailsXuLy(soVanBan, soDen, soKyHieu, coQuanBanHanh, loaiVanBan, ngayDen, ngayBanHanh, trichYeu);
            });
        });
    });

    function showDetailsXuLy(soVanBan, soDen, soKyHieu, coQuanBanHanh, loaiVanBan, ngayDen, ngayBanHanh, trichYeu) {
        const mainContent = document.getElementById('main-content');
        mainContent.innerHTML = `
        <div>
            <div class="sub-option">
                <ul class="child-option">
                    <li>
                        <a id="trinhChanhVP"><i class="fa-solid fa-file-export"></i> Trình Chánh VP</a>
                    </li>
                    <li>
                        <a><i class="fa-solid fa-pen-to-square"></i> Chỉnh sửa</a>
                    </li>
                    <li>
                        <a><i class="fa-solid fa-trash"></i> Xoá</a>
                    </li>
                </ul>
            </div>
            <div style="padding: 10px;">
                <h2>Chi tiết văn bản</h2>
                <p><strong>Số văn bản:</strong> ${soVanBan}</p>
                <p><strong>Số đến:</strong> ${soDen}</p>
                <p><strong>Số, ký hiệu:</strong> ${soKyHieu}</p>
                <p><strong>Cơ quan ban hành:</strong> ${coQuanBanHanh}</p>
                <p><strong>Loại văn bản:</strong> ${loaiVanBan}</p>
                <p><strong>Ngày đến:</strong> ${ngayDen}</p>
                <p><strong>Ngày ban hành:</strong> ${ngayBanHanh}</p>
                <p><strong>Trích yếu:</strong> ${trichYeu}</p>
            </div>
        </div>
    `;

        // Gán sự kiện sau khi nội dung được cập nhật
        document.getElementById('trinhChanhVP').addEventListener('click', function (event) {
            event.preventDefault();
            document.getElementById('modal').style.display = 'block';
        });
    }
    // Thêm sự kiện click cho nút đóng modal
    document.querySelector('.modal .close').addEventListener('click', function() {
        document.getElementById('modal').style.display = 'none';
    });

    document.addEventListener('DOMContentLoaded', function() {
        var selectAllCheckbox = document.getElementById('selectAllCheckbox');
        var rowCheckboxes = document.querySelectorAll('.rowCheckbox');
        var tableRows = document.querySelectorAll('.document-table tbody tr');
        var selectElement = document.getElementById('selectOptions');

        // Khi checkbox "Chọn tất cả" thay đổi
        selectAllCheckbox.addEventListener('change', function() {
            var isChecked = selectAllCheckbox.checked;
            rowCheckboxes.forEach(function(checkbox) {
                checkbox.checked = isChecked;
                toggleHighlight(checkbox);
            });
            updateSelectOptions();
        });

        // Khi checkbox trong bảng thay đổi
        rowCheckboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                toggleHighlight(checkbox);
                updateSelectAllCheckbox();
                updateSelectOptions();
            });
        });

        // Cập nhật trạng thái của checkbox "Chọn tất cả"
        function updateSelectAllCheckbox() {
            var allChecked = Array.from(rowCheckboxes).every(function(checkbox) {
                return checkbox.checked;
            });
            selectAllCheckbox.checked = allChecked;
        }

        // Thay đổi màu nền của hàng dựa trên trạng thái checkbox
        function toggleHighlight(checkbox) {
            var row = checkbox.closest('tr');
            if (checkbox.checked) {
                row.classList.add('highlight');
            } else {
                row.classList.remove('highlight');
            }
        }

        // Cập nhật tùy chọn của thẻ select từ danh sách checkbox
        function updateSelectOptions() {
            var selectedValues = new Set(); // Dùng Set để loại bỏ giá trị trùng lặp
            rowCheckboxes.forEach(function(checkbox) {
                if (checkbox.checked) {
                    var value = checkbox.dataset.value; // Lấy giá trị từ thuộc tính data-value của checkbox
                    if (value) {
                        selectedValues.add(value);
                    }
                }
            });

            // Xóa tất cả các tùy chọn hiện tại trong thẻ select
            selectElement.innerHTML = '<option value="">Chọn một tùy chọn</option>';

            // Thêm các tùy chọn mới vào thẻ select
            selectedValues.forEach(function(value) {
                var option = document.createElement('option');
                option.value = value;
                option.textContent = value;
                selectElement.appendChild(option);
            });
        }
        function validateNextDocumentForm() {
            var checkboxesChecked = Array.from(rowCheckboxes).some(checkbox => checkbox.checked);
            var selectOptionSelected = selectElement.value !== '';

            if (!checkboxesChecked) {
                alert('Vui lòng chọn ít nhất một người nhận.');
                return false;
            }

            if (!selectOptionSelected) {
                alert('Vui lòng chọn người xử lý chính.');
                return false;
            }

            return true;
        }

        // Thêm sự kiện click cho nút "Chuyển"
        document.getElementById('sendButton').addEventListener('click', function() {
            if (validateNextDocumentForm()) {
                const isConfirmed = confirm('Bạn chắc chắn chuyển chánh văn phòng?');

                if (isConfirmed) {
                    const form = document.getElementById('nextDocumentForm');
                    // Gửi biểu mẫu nếu người dùng chọn đồng ý
                    form.submit();
                    alert('Đã chuyển thành công!');
                } else {
                    // Nếu người dùng chọn hủy, không làm gì cả
                    alert('Đã hủy thao tác lưu.');
                }
            }

        });
    });

</script>
</body>
</html>
