<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiếp nhận văn bản - Sở Nội vụ - TPHCM</title>
    <link href="images/logo_quochuy.png" rel="Shortcut Icon">
    <link href="/style/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header>
    <div class="logo">
        <img th:src="@{/images/logo.png}" alt="Logo"/>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Nhập từ khóa tìm kiếm">
        <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="user-info" onclick="toggleDropdown()">
        <img th:src="@{/images/avatar.png}" alt="Avatar">
        <div>
            <span class="role">Văn Thư</span>
            <br>
            <span class="name" th:text="${session.user.name}">Văn thư</span>
        </div>
        <div class="dropdown-menu">
            <form th:action="@{/auth/v1/logout}" method="post" id="logoutForm">
                <a onclick="document.getElementById('logoutForm').submit()">Thoát</a>
            </form>
        </div>
    </div>
</header>
<nav>
    <ul>
        <li>
            <a th:href="@{/}">
                <i class="fas fa-home"></i>
            </a>
        </li>
        <li class="active">
            <a th:href="@{/dashboard}">Xử lý văn bản</a>
        </li>
        <li>
            <a th:href="@{/vanbanden}">Văn bản đến</a>
        </li>
        <li>
            <a th:href="@{/vanbandi}">Văn bản đi</a>
        </li>
        <li>
            <a th:href="@{/vanbannoibo}">Văn bản nội bộ</a>
        </li>
        <li>
            <a th:href="@{/vanbanlienthong}">Văn bản liên thông</a>
        </li>
        <li>
            <a th:href="@{/tracuu}">Tra cứu</a>
        </li>
    </ul>
</nav>
<div class="sub-menu">
    <ul class="child-menu">
        <li class="active">
            <a>▸Tiếp nhận văn bản đến (Alt+1)</a>
        </li>
        <li>
            <a>▸Hộp thư văn bản đến (Alt+2)</a>
        </li>
        <li>
            <a>▸Dự thảo văn bản (Alt+3)</a>
        </li>
        <li>
            <a>▸Phát hành văn bản (Alt+4)</a>
        </li>
        <li>
            <a>▸Văn bản chờ phát hành (Alt+5)</a>
        </li>
        <li>
            <a>▸Soạn văn bản nội bộ (Alt+6)</a>
        </li>
    </ul>
</div>
<div style="background-color: #007bff; padding:8px;">
    <h2 style="color: white; padding-left: 8px; margin: 0;">Tiếp nhận văn bản đến</h2>
</div>

<div class="sub-option">
    <ul class="child-option">
        <li>
            <a id="saveAndSubmit"><i class="fa-solid fa-file"></i> Lưu và nhập văn bản</a>
        </li>
        <li>
            <a id="saveAndTrinhChanhVP"><i class="fa-solid fa-file-export"></i> Lưu và Trình Chánh VP</a>
        </li>
        <li>
            <a><i class="fa-solid fa-file"></i> Thêm mới(Giống VB trước)</a>
        </li>
        <li>
            <a><i class="fa-solid fa-link"></i> Liên kết</a>
        </li>
        <li>
            <a><i class="fa-solid fa-square-pen"></i> Nhập lại</a>
        </li>
    </ul>
</div>

<div class="content">
    <form id="addDocumentForm" style="padding-top: 12px;" method="post" th:action="@{/xulyvanban}" enctype="multipart/form-data" th:object="${documentForm}" >
        <div class="form-group">
            <div class="left">
                <label>Số văn bản <span class="required">(*)</span></label>
                <input type="text" name="documentNumber" placeholder="Nhập tên hoặc mã" required>
            </div>
            <div class="right">
                <label>Văn bản QPPL</label>
                <input type="checkbox" name="isLegalDocument">
            </div>
        </div>
        <div class="form-group">
            <div class="left">
                <label>Số đến <span class="required">(*)</span></label>
                <input type="text" name="arrivalNumber" required>
            </div>
            <div class="right">
                <label>Ngày đến</label>
                <input type="datetime-local" name="arrivalDate" required id="arrivalDate">
            </div>
        </div>
        <div class="form-group">
            <div class="left">
                <label>Số ký hiệu của văn bản <span class="required">(*)</span></label>
                <input type="text" name="documentSymbol" required>
            </div>
            <div class="right">
                <label>Ngày ban hành</label>
                <input type="date" name="issueDate" required id="issueDate">
            </div>
        </div>
        <div class="form-group">
            <div class="left">
                <label>Cơ quan ban hành <span class="required">(*)</span></label>
                <input type="text" name="issuingAgency" required>
            </div>
            <div class="right">
                <label>Cấp cơ quan</label>
                <input type="text" name="agencyLevel">
            </div>
        </div>
        <div class="form-group">
            <div class="left">
                <label>Loại văn bản</label>
                <input type="text" name="documentType">
            </div>
            <div class="right">
                <label>Lĩnh vực</label>
                <input type="text" name="field">
            </div>
        </div>
        <div class="form-group">
            <div class="left">
                <label>Trích yếu <span class="required">(*)</span></label>
                <textarea name="summary" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="left">
                <label>Ghi chú</label>
                <textarea name="note"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="left">
                <label>Văn bản chỉ đạo</label>
                <input type="checkbox" name="isDirectiveDocument">
            </div>
            <div class="right">
                <label>Thời gian xử lý</label>
                <input type="date" name="processingTime">
            </div>
        </div>
        <div class="form-group">
            <div class="left">
                <label>Có bản giấy</label>
                <input type="checkbox" name="hasPaperCopy">
            </div>
        </div>
        <div class="form-group">
            <div class="left">
                <label>Đính kèm tệp tin</label>
                <input type="file" name="attachedFiles" multiple id="fileInput">
            </div>
        </div>
        <div class="file-list" id="fileList"></div>
    </form>
</div>

<footer class="footer">
    <div class="left">
        <h3>Sở Nội vụ Thành phố Hồ Chí Minh</h3>
        <p>Địa chỉ: 86B Lê Thánh Tôn, Phường Bến Nghé, Quận 1, TP.HCM</p>
        <p>Điện thoại: (028) 38 295 110 - Fax: (028) 38 231 489 - Email: snv@sonoivu.hochiminhcity.gov.vn</p>
        <p>NSS eGov v5.3. Thiết kế và phát triển bởi NewSaigonSoft</p>
    </div>
</footer>

<div id="modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <p class="modal-title">Trình Chánh VP</p>
            <span class="close"><i class="fa-solid fa-xmark"></i></span>
        </div>
        <div class="sub-option">
            <ul class="child-option">
                <li>
                    <a id="sendButton"><i class="fa-solid fa-file-export"></i> Chuyển</a>
                </li>
            </ul>
        </div>
        <form id="nextDocumentForm">
            <div class="form-group">
                <div class="left">
                    <label style="padding: 8px;">Nội dung xử lý</label>
                    <textarea placeholder="Nhập thông tin xử lý"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="left">
                    <label style="padding: 8px;">Người nhận <span class="required">(*)</span></label>
                    <table class="document-table">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="selectAllCheckbox">
                            </th>
                            <th>
                                <p>Họ và tên</p>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" class="rowCheckbox" data-value="Chánh văn phòng">
                            </td>
                            <td>
                                <p>Chánh văn phòng <span>(Chánh văn phòng)</span></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" class="rowCheckbox" data-value="Chuyên viên">
                            </td>
                            <td>
                                <p>Lê Mộng Trang <span>(Chuyên viên)</span></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="left">
                    <label style="padding: 8px;">Người xử lý chính <span class="required">(*)</span></label>
                    <select id="selectOptions" required>
                        <option value="">Chọn một tùy chọn</option>
                        <!-- Thymeleaf options can be populated here -->
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const form = document.getElementById('addDocumentForm');
        function validateAndSubmitForm() {
            // Ngăn chặn gửi biểu mẫu nếu có lỗi
            if (form.checkValidity()) {
                const isConfirmed = confirm('Bạn chắc chắn lưu văn bản?');

                if (isConfirmed) {
                    // Gửi biểu mẫu nếu người dùng chọn đồng ý
                    form.submit(); // Hoặc xử lý gửi dữ liệu bằng AJAX/Fetch API ở đây
                    alert('Form đã được gửi thành công!');
                } else {
                    // Nếu người dùng chọn hủy, không làm gì cả
                    alert('Đã hủy thao tác lưu.');
                }
            }else {
                event.preventDefault(); // Ngăn chặn gửi biểu mẫu

                // Hiển thị thông báo lỗi
                form.reportValidity();
            }
        }
        function validateForm() {
            // Ngăn chặn gửi biểu mẫu nếu có lỗi
            if (form.checkValidity()) {
                document.getElementById('modal').style.display = 'block';
            }else {
                event.preventDefault(); // Ngăn chặn gửi biểu mẫu
                // Hiển thị thông báo lỗi
                form.reportValidity();
            }
        }
        document.getElementById('saveAndSubmit').addEventListener('click', function(event) {
            event.preventDefault(); // Ngăn hành động mặc định của liên kết
            validateAndSubmitForm()
        });

        // Gán sự kiện sau khi nội dung được cập nhật
        document.getElementById('saveAndTrinhChanhVP').addEventListener('click', function (event) {
            event.preventDefault();
            validateForm()
        });
    });



    document.addEventListener('DOMContentLoaded', function() {
        // Tính toán thời gian hiện tại theo giờ Việt Nam (UTC+7)
        const now = new Date();
        const offset = 7 * 60; // Giờ Việt Nam là UTC+7
        const localTime = new Date(now.getTime() + offset * 60 * 1000);

        // Định dạng ngày theo định dạng 'YYYY-MM-DD'
        const formattedDate = localTime.toISOString().split('T')[0];
        // Định dạng ngày giờ theo định dạng 'YYYY-MM-DDTHH:MM'
        const formattedDateTime = localTime.toISOString().slice(0,16);

        // Cập nhật giá trị cho các trường ngày
        document.getElementById('arrivalDate').value = formattedDateTime;
        document.getElementById('issueDate').value = formattedDate;
    });
    document.getElementById('fileInput').addEventListener('change', function(event) {
        const fileList = document.getElementById('fileList');
        fileList.innerHTML = ''; // Clear the list

        Array.from(event.target.files).forEach((file, index) => {
            const fileItem = document.createElement('div');
            fileItem.className = 'file-item';

            const fileName = document.createElement('span');
            fileName.textContent = file.name;
            fileItem.appendChild(fileName);

            const removeButton = document.createElement('button');
            removeButton.textContent = 'Xoá';
            removeButton.addEventListener('click', () => {
                const dataTransfer = new DataTransfer();
                const files = Array.from(event.target.files);
                files.splice(index, 1);

                files.forEach(file => {
                    dataTransfer.items.add(file);
                });

                event.target.files = dataTransfer.files;
                fileItem.remove();
            });
            fileItem.appendChild(removeButton);

            fileList.appendChild(fileItem);
        });
    });

    // Thêm sự kiện click cho nút đóng modal
    document.querySelector('.modal .close').addEventListener('click', function() {
        document.getElementById('modal').style.display = 'none';
    });


    document.addEventListener('DOMContentLoaded', function() {
        var selectAllCheckbox = document.getElementById('selectAllCheckbox');
        var rowCheckboxes = document.querySelectorAll('.rowCheckbox');
        var tableRows = document.querySelectorAll('.document-table tbody tr');
        var selectElement = document.getElementById('selectOptions');

        // Khi checkbox "Chọn tất cả" thay đổi
        selectAllCheckbox.addEventListener('change', function() {
            var isChecked = selectAllCheckbox.checked;
            rowCheckboxes.forEach(function(checkbox) {
                checkbox.checked = isChecked;
                toggleHighlight(checkbox);
            });
            updateSelectOptions();
        });

        // Khi checkbox trong bảng thay đổi
        rowCheckboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                toggleHighlight(checkbox);
                updateSelectAllCheckbox();
                updateSelectOptions();
            });
        });

        // Cập nhật trạng thái của checkbox "Chọn tất cả"
        function updateSelectAllCheckbox() {
            var allChecked = Array.from(rowCheckboxes).every(function(checkbox) {
                return checkbox.checked;
            });
            selectAllCheckbox.checked = allChecked;
        }

        // Thay đổi màu nền của hàng dựa trên trạng thái checkbox
        function toggleHighlight(checkbox) {
            var row = checkbox.closest('tr');
            if (checkbox.checked) {
                row.classList.add('highlight');
            } else {
                row.classList.remove('highlight');
            }
        }

        // Cập nhật tùy chọn của thẻ select từ danh sách checkbox
        function updateSelectOptions() {
            var selectedValues = new Set(); // Dùng Set để loại bỏ giá trị trùng lặp
            rowCheckboxes.forEach(function(checkbox) {
                if (checkbox.checked) {
                    var value = checkbox.dataset.value; // Lấy giá trị từ thuộc tính data-value của checkbox
                    if (value) {
                        selectedValues.add(value);
                    }
                }
            });

            // Xóa tất cả các tùy chọn hiện tại trong thẻ select
            selectElement.innerHTML = '<option value="">Chọn một tùy chọn</option>';

            // Thêm các tùy chọn mới vào thẻ select
            selectedValues.forEach(function(value) {
                var option = document.createElement('option');
                option.value = value;
                option.textContent = value;
                selectElement.appendChild(option);
            });
        }

        function validateNextDocumentForm() {
            var checkboxesChecked = Array.from(rowCheckboxes).some(checkbox => checkbox.checked);
            var selectOptionSelected = selectElement.value !== '';

            if (!checkboxesChecked) {
                alert('Vui lòng chọn ít nhất một người nhận.');
                return false;
            }

            if (!selectOptionSelected) {
                alert('Vui lòng chọn người xử lý chính.');
                return false;
            }

            return true;
        }

        // Thêm sự kiện click cho nút "Chuyển"
        document.getElementById('sendButton').addEventListener('click', function() {
            if (validateNextDocumentForm()) {
                const isConfirmed = confirm('Bạn chắc chắn chuyển chánh văn phòng?');

                if (isConfirmed) {
                    const form = document.getElementById('nextDocumentForm');
                    // Gửi biểu mẫu nếu người dùng chọn đồng ý
                    form.submit();
                    alert('Đã chuyển thành công!');
                } else {
                    // Nếu người dùng chọn hủy, không làm gì cả
                    alert('Đã hủy thao tác lưu.');
                }
            }

        });


    });
</script>
<script src="/js/script.js"></script>
